# Order is important.
# The last matching pattern takes the most precedence.

# Default owners
@aswin-ideas2it @madan-ideas2it

# Libs owners
# /libs/

# Web App owners
# /apps/web-app/
# /apps/web-app-e2e/

# Frontend libs owners
# /libs/ui/
# /libs/storybook-host/

# Web API owners
# /apps/web-api/
