<html>
    <body>
        <div style="border: 1px solid #ccc; padding: 20px; margin: 20px;">
            <p>Dear Team,</p>
            <p>We have received a new request to join our network. The details of the request are as follows:</p>
            <div style="margin-top: 10px;">
                <p><strong>Requested By:</strong> <span> {{ email }}</span></p>
                <p><strong>Description:</strong> <span>{{ introduction }}</span></p>
            </div>
            <p>Regards,</p>
            <p>PLN Support Team.</p>
        </div>
    </body>
</html>