.root {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 8px;
}

.text {
  color: var(--text-neutral-default, #1b3860);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}