.optionRoot {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: var(--spacing-3xs, 6px);
  align-self: stretch;
  max-height: 40px;
  flex: 1;
  overflow: hidden;

  &:hover {
    background: var(--transparent-dark-4, rgba(14, 15, 17, 0.04));
  }
}

.name {
  color: var(--action-foreground-neutral-normal, #455468);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
}

.desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: #8897ae;
  text-overflow: ellipsis;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.2px;
}

.orange {
  color: #d97706;
}

.blue {
  color: #1b4dff;
}

.control {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs, 6px);

  border-radius: var(--corner-radius-md, 8px);
  border: 1px solid var(--action-border-neutral-light_active, rgba(14, 15, 17, 0.16));
  background: var(--background-base-white, #fff);
  width: 100%;
  flex-wrap: nowrap;

  .optionRoot {
    padding-left: 8px;

    &:hover {
      background: transparent;
    }
  }
}

.childrenWrapper {
  display: flex;
  align-items: center;
  flex: 0.2;
  flex-wrap: nowrap;
}
