@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .detail-label {
    @apply mb-2 text-sm font-medium text-slate-500;
  }

  .directory-view-type:first-child > button {
    @apply rounded-r-none rounded-l-lg;
  }
  .directory-view-type:last-child > button {
    @apply rounded-l-none rounded-r-lg;
  }

  .profile-card > a {
    @apply w-full border-b border-slate-200 transition-all hover:bg-slate-50;
  }

  .profile-card:first-child,
  .profile-card:first-child > a {
    @apply rounded-t-xl;
  }

  .profile-card:last-child,
  .profile-card:last-child > a {
    @apply rounded-b-xl border-b-0;
  }

  .profile-description a {
    @apply text-blue-600 hover:text-blue-700;
  }

  .card {
    @apply shadow-card--slate-900 rounded-xl bg-white p-5 text-sm;
  }

  .tag {
    @apply leading-3.5 block max-w-full cursor-default whitespace-nowrap rounded-xl bg-slate-100 px-3 py-1.5 text-xs font-medium text-slate-600;
  }

  .navbar {
    @apply fixed z-50 flex w-full min-w-[1272px] items-center bg-white/95;
  }

  .on-focus {
    @apply focus-within:rounded-lg focus-within:outline focus-within:outline-1 focus-within:outline-offset-0 focus-within:outline-blue-600 focus-within:ring-2 focus-within:ring-[rgba(21,111,247,0.25)] focus-within:ring-offset-1 focus:rounded-lg focus:outline focus:outline-1 focus:outline-offset-0 focus:outline-blue-600 focus:ring-2 focus:ring-[rgba(21,111,247,0.25)] focus:ring-offset-1 focus-visible:rounded-lg focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-0 focus-visible:outline-blue-600 focus-visible:ring-2 focus-visible:ring-[rgba(21,111,247,0.25)] focus-visible:ring-offset-1;
  }

  .on-focus--link {
    @apply focus-within:shadow-[0_1px_0_#156ff7] focus-within:outline-none focus:shadow-[0_1px_0_#156ff7] focus:outline-none focus-visible:shadow-[0_1px_0_#156ff7] focus-visible:outline-none;
  }
  .profileImage > div {
    width: 100px;
    height: 100px;
    position: relative;
    /* top: 10px; */
  }
}

.inputfield input {
  position: relative;
  top: 10px;
}

.namefield {
  left: 32px;
  position: relative;
  flex-basis: 78%;
}

.inputfield input,
.inputfield textarea {
  position: relative;
  top: 10px;
}

.datefield > div:first-of-type {
  padding-top: 16px;
}

.cityname > div:first-of-type {
  padding-top: 16px;
}

.footerdiv {
  margin-top: 32px;
  border-top: solid #e2e8f0 1px;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 54px;
  padding-right: 54px;
}
.cross-icon {
  width: 16px;
  height: 16px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.formStep2 {
  /* position: absolute; */
  bottom: 0px;
}

.hint-text > div:first-of-type {
  padding-top: 16px;
  font-size: 13px;
}

.step-line {
  position: relative;
  top: 25px;
  border: 1px solid #156ff7;
}

.dia {
  margin-right: auto;
  min-width: 500px;
  margin-left: auto;
  max-width: 500px;
}

@media screen and (max-width: 576) {
  .dia {
    min-width: 500px;
    margin-top: 1.75rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
}

/* .grecaptcha-badge {
  visibility: hidden;
} */
