.irl{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    width: 100dvw;
}

.irl__banner{
    height: 321px;
    border: 14px solid #ffffff;
    box-shadow: 0px 4px 4px 0px #0F172A0A;
}

.irl__header{
    width: 100%;
    padding: 16px 20px;
    border-bottom: 1px solid #cbd5e1;
}

.irl__conferences{

}

@media(min-width: 1024px){
    .irl{
        padding-top: 121px;
        width: 900px;
        margin: auto;
    }

    .irl__banner{
        height: 200px;
        border-radius: 16px;
    }

    .irl__header{
        padding: 18px 0px;
    }

    .irl__conferences{

    }
}