.root {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  width: 100%;
}

.badge {
  align-items: center;
  background: #eef2ff;
  border-radius: 999px;
  margin-right: 8px;
  white-space: nowrap;

  display: inline-flex;
  padding: var(--spacing-4xs, 4px) var(--spacing-2xs, 8px);
  justify-content: flex-start;

  overflow: hidden;
  color: var(--action-foreground-neutral-normal, #455468);
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.2px;

  gap: 2px;
}

.extra {
  background: #f3f4f6;
  color: #6b7280;
}

.label {
  overflow: hidden;
  color: var(--action-foreground-neutral-normal, #455468);
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.2px;
}
